 <section class="centrado" id="portfolio">
    <h2>PORTAFOLIO</h2>
    <hr>
    <div>
      <ul class="imagenes">
        <li>
          <a href="portfolio-01.html"><img src="../../../assets/images/portfolio-1-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-02.html"><img src="../../../assets/images/portfolio-2-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-03.html"><img src="../../../assets/images/portfolio-3-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-04.html"><img src="../../../assets/images/portfolio-4-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-05.html"><img src="../../../assets/images/portfolio-5-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-06.html"><img src="../../../assets/images/portfolio-6-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-07.html"><img src="../../../assets/images/portfolio-7-index.jpg" alt="portada portfolio"></a>
        </li>
        <li>
          <a href="portfolio-08.html"><img src="../../../assets/images/portfolio-8-index.jpg" alt="portada portfolio"></a>
        </li>
      </ul>
    </div>
  </section>
