.full {
	padding: 0;
}
.espaciado {
	margin-bottom: 40px;
}
.volver	{
	position: absolute;
    top: 115px;
    right: 120px;
    text-transform: uppercase;
    color: #fff;
    z-index: 7;
    letter-spacing: 2px;
    font-size: 15px;
 }
 a:hover {
    color: #8c8c8c;
}
.frase-principal {
	position: absolute;
	left: 50%;
	top: calc(50% + 96px);
	z-index: 7;
	transform: translate(-50%, -50%);
	max-width: 600px;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;

	hr {
		background-color: #fff;
	}

	p {
		color: #fff;
	}

	h1 {
		text-transform: uppercase;
		font-size: 55px;
	}
}

.texto-medio h2 {
	text-align: start;
}
.siguiente {
	display: block;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	bottom: 30px;
	z-index: 7;

	img {
		width: 30px;
	}
}

.fondo-imagen {
	img {
		display: block;
	   width: 100%;
	   height: 100vh;
	   object-fit: cover;
	   padding-top: 96px;
	}

	div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	}
}

.texto-full {
	padding: 130px 20px 100px 20px;
	text-align: center;
}

.texto-medio {
	padding: 0 20px;
}

.mas-imagenes {
	padding: 0 0 80px 0;
}

.imagenes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	li {
		width: 25%;
	}
}

.portfolio.contacto {
	display: block;
}
.portfolio-contenido aside, .portfolio-contenido article {
	padding: 0;
}
.portfolio-contenido aside p, .portfolio-contenido aside h3, .portfolio-contenido article p, .portfolio-contenido article h3 {
	padding: 0 20px;
}
.portfolio-contenido aside hr, .portfolio-contenido article hr
{
	margin-left: 20px;
}
.portfolio-contenido aside img {
    margin: 0;
  }
