<header>
    <article>
        <a href="#"><img src="../../../assets/images/biche.png" alt="Agencia Biche"></a>
        <div class="boton-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="redes-sociales">
            <a href="https://www.facebook.com/pages/category/Consulting-Agency/Agencia-Biche-115560576485866/" target="_blank">
                <img src="../../../assets/images/facebook.png" alt="agencia biche facebook">
            </a>
            <a href="https://www.instagram.com/agencia.biche/" target="_blank">
                <img src="../../../assets/images/instagram.png" alt="agencia biche instagram">
            </a>
            <a href="https://www.linkedin.com/company/biche-agencia/?viewAsMember=true" target="_blank">
                <img src="../../../assets/images/linkedin.png" alt="agencia biche linkedin">
            </a>
        </div>
    </article>
    <nav>
        <ul>
            <li><a class="scrollTo" href="#quienes-somos">QUIENES SOMOS</a></li>
            <li><a class="scrollTo" href="#servicios">SERVICIOS</a></li>
            <li><a class="scrollTo" href="#clientes">CLIENTES</a></li>
            <li><a class="scrollTo" href="#contacto">CONTACTO</a></li>
        </ul>
    </nav>
</header>
