<section class="container-fluid instagram-carousel">
    <h2>SÍGUENOS</h2>
          <hr>
          <ul class="desktop-view">
              <li>
                  <a href="https://www.instagram.com/agencia.biche/" target="_blank">
                      <img src="../../../assets/images/instagram-color.png" alt="agencia.biche instagram">
                      <p>agencia.biche</p>
                  </a>
              </li>
              <li>
                  <a href="https://www.facebook.com/pages/category/Consulting-Agency/Agencia-Biche-115560576485866/" target="_blank">
                      <img src="../../../assets/images/facebook-color.png" alt="bichemarketing">
                      <p>bichemarketing</p>
                  </a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/company/biche-agencia/?viewAsMember=true" target="_blank">
                      <img src="../../../assets/images/linkedin-color.png" alt="agencia.biche linkedin">
                      <p>biche-agencia</p>
                  </a>
              </li>
          </ul>
  </section>
