@import '../../../assets/sass/variables.scss';
.instagram-carousel {
    text-align: center;
    padding: 120px 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        a p {
            color: $primary-color;
            font-weight: 700;
            margin-left: 8px;
            display: inline-block;

            &hover {
                color: #0f0686;
            }
        }
    }
    li {
        margin: 0 30px;
    }
}