<!-- desktop tabs -->
<div id="servicios">
    <section class="servicios desktop-992-view" id="servicios-desktop">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>SERVICIOS</h2>
            <hr>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                      <a class="nav-link active" id="redes-tab" data-toggle="tab" href="#redes" role="tab" aria-controls="redes" aria-selected="true">REDES<br> SOCIALES</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="sem-tab" data-toggle="tab" href="#sem" role="tab" aria-controls="sem" aria-selected="false">SEM<br> PAUTA DIGITAL</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="generacion-tab" data-toggle="tab" href="#generacion" role="tab" aria-controls="generacion" aria-selected="false">GENERACIÓN<br> DE CONTENIDOS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="branding-tab" data-toggle="tab" href="#branding" role="tab" aria-controls="branding" aria-selected="false">BRANDING</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="diseno-tab" data-toggle="tab" href="#diseno" role="tab" aria-controls="diseno" aria-selected="false">DISEÑO<br> WEB</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="redes" role="tabpanel" aria-labelledby="redes-tab">
                    <div class="cuadro-servicios">
                        <aside>
                              <img src="../../../assets/images/servicios-redes-sociales.png" alt="redes sociales">
                              <h3>redes<br>sociales</h3>
                              <hr>
                              <h4>community management / moderación</h4>
                        </aside>
                        <article>
                              <h5>pasos</h5>
                              <ul>
                                <li><b>1</b> Análisis de competencia</li>
                                <li><b>2</b> Tendencias del mercado</li>
                                <li><b>3</b> Diagramación y planificación</li>
                                <li><b>4</b> Moderación</li>
                                <li><b>5</b> Análisis de resultados</li>
                              </ul>
                              <a href="#contacto" class="btn-primario">CONTACTAR</a>
                        </article>
                      </div>
                </div>
                <div class="tab-pane fade" id="sem" role="tabpanel" aria-labelledby="sem-tab">
                    <div class="cuadro-servicios">
                      <aside>
                        <img src="../../../assets/images/servicios-sem.png" alt="SEM">
                        <h3>sem</h3>
                        <hr>
                        <h4>pauta digital</h4>
                        <p>Consiste en una inversión para promocionar y posicionar el producto o el servicio en motores de búsqueda como Google (Adwords), o publicidad en redes sociales (Facebook Ads/ Instagram Ads).</p>
                      </aside>
                      <article>
                        <h5>pasos</h5>
                        <ul>
                          <li><b>1</b> Armado de brief de marca</li>
                          <li><b>2</b> Segmentación</li>
                          <li><b>3</b> Diagramación y planificación</li>
                          <li><b>4</b> Aplicación y moderación</li>
                          <li><b>5</b> Informe de rendimiento</li>
                        </ul>
                        <a href="#contacto" class="btn-primario">CONTACTAR</a>
                      </article>
                    </div>
                </div>
                <div class="tab-pane fade" id="generacion" role="tabpanel" aria-labelledby="generacion-tab">
                      <div class="cuadro-servicios">
                      <aside>
                       <img src="../../../assets/images/servicios-generacion-contenidos.png" alt="gneracion de contenidos">
                       <h3>generación de contenidos</h3>
                       <hr>
                       <h4>diseño gráfico - producciones fotograficas</h4>
                       <p>Realizamos una planificación de contenidos para redes sociales, web o gráficas. Este puede tener diseño gráfico o intervenciones gráficas o bien producciones fotográficas.</p>
                      </aside>
                      <article>
                        <h3>producciones fotograficas</h3>
                        <p>Se puede contratar con un paquete de redces o se pueden hacer por una sola producción. Incluye:<br>
                        -Idea creativa<br>Negociación y coordinación con el equipo<br>-Entrega de material final.<br>
                        El servicio no incluye el valor del equipo como fotógrafos, modelos, maquilladores o locacion.
                        </p>
                        <h5>pasos</h5>
                        <p>Se puede contratar en un paquete de redes o por pieza gráfica. Incluye:<br>-Idea creaiva<br>-Diseño<br>-Entrega de material final.</p>
                      </article>
                    </div>
                </div>
                  <div class="tab-pane fade" id="branding" role="tabpanel" aria-labelledby="branding-tab">
                    <div class="cuadro-servicios">
                      <aside>
                        <img src="../../../assets/images/servicios-branding.png" alt="branding">
                        <h3>branding</h3>
                        <hr>
                        <h4>generación de marca</h4>
                        <p>Consiste en el desarrollo de la marca. Logo y manual de identidad que es lo que nos guiara para el desarrollo de las piezas que la marca necesite.</p>
                      </aside>
                      <article>
                        <h5>pasos</h5>
                        <ul>
                          <li><b>1</b> Investigación de mercado</li>
                          <li><b>2</b> Armado de Brief de marca</li>
                          <li><b>3</b> Diseño de logo</li>
                          <li><b>4</b> Diseño de manual de identidad de marca</li>
                        </ul>
                        <a href="#contacto" class="btn-primario">CONTACTAR</a>
                      </article>
                  </div>
                </div>
                  <div class="tab-pane fade" id="diseno" role="tabpanel" aria-labelledby="diseno-tab">
                      <div class="cuadro-servicios">
                      <aside>
                       <img src="../../../assets/images/servicios-diseno-web.png" alt="diseño web">
                        <h3>websites</h3>
                        <hr>
                        <h4>diseño y maquetación</h4>
                      </aside>
                      <article>
                        <h5>pasos</h5>
                        <ul>
                          <li><b>1</b> Investigación</li>
                          <li><b>2</b> Armado de Brief de marca</li>
                          <li><b>3</b> Diseño de página</li>
                          <li><b>4</b> Maquetación de página</li>
                        </ul>
                        <a href="#contacto" class="btn-primario">CONTACTAR</a>
                      </article>
                    </div>
                </div>
              </div>
                  <!-- fin desktop tabs -->
        </div>
    </div>
</div>
<img src="../../../assets/images/servicios-borde.png" alt="borde servicios">
</section>

<section class="servicios tablet-view">
    <div class="servicios-mobile-titulo">
        <h2>SERVICIOS</h2>
        <hr>
    </div>
<!-- mobile carousel -->
    <div id="carouselServicios" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active carousel-item01">
            <div class="carousel-item-inner">
                <h3>redes sociales</h3>
                <hr>
                <h4>community management / moderación</h4>
                <h5>pasos</h5>
                <ul>
                  <li><b>1</b> Análisis de competencia</li>
                  <li><b>2</b> Tendencias del mercado</li>
                  <li><b>3</b> Diagramación y planificación</li>
                  <li><b>4</b> Moderación</li>
                  <li><b>5</b> Análisis de resultados</li>
                </ul>
                <a href="#contacto" class="btn-primario">CONTACTAR</a>
                            </div>
                </div>
                <div class="carousel-item carousel-item02">
                            <div class="carousel-item-inner">
                <h3>sem</h3>
                <hr>
                <h4>pauta digital</h4>
                <h5>pasos</h5>
                <ul>
                  <li><b>1</b> Armado de brief de marca</li>
                  <li><b>2</b> Segmentación</li>
                  <li><b>3</b> Diagramación y planificación</li>
                  <li><b>4</b> Aplicación y moderación</li>
                  <li><b>5</b> Informe de rendimiento</li>
                </ul>
                <a href="#contacto" class="btn-primario">CONTACTAR</a>
                            </div>
                  </div>
                <div class="carousel-item carousel-item03">
                            <div class="carousel-item-inner">
                                <h3>generación de contenidos</h3>
                <hr>
                <h4>diseño gráfico - producciones fotograficas</h4>
                <p>Realizamos una planificación de contenidos para redes sociales, web o gráficas. Este puede tener diseño gráfico o intervenciones gráficas o bien producciones fotográficas.</p>
                <a href="#contacto" class="btn-primario">CONTACTAR</a>
                            </div>
                </div>
                    <div class="carousel-item carousel-item04">
                            <div class="carousel-item-inner">
                      <h3>branding</h3>
                <hr>
                <h4>generación de marca</h4>
                <p>Consiste en el desarrollo de la marca. Logo y manual de identidad que es lo que nos guiara para el desarrollo de las piezas que la marca necesite.</p>
                <a href="#contacto" class="btn-primario">CONTACTAR</a>
                            </div>
                </div>
                    <div class="carousel-item carousel-item05">
                            <div class="carousel-item-inner">
                      <h3>websites</h3>
                <hr>
                <h4>diseño y maquetación</h4>
                <ul>
                  <li><b>1</b> Investigación</li>
                  <li><b>2</b> Armado de Brief de marca</li>
                  <li><b>3</b> Diseño de página</li>
                  <li><b>4</b> Maquetación de página</li>
                </ul>
                <a href="#contacto" class="btn-primario">CONTACTAR</a>
                            </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselServicios" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselServicios" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- fin mobile carousel -->
            <img src="../../../assets/images/servicios-borde.png" alt="borde servicios">
        </section>
    </div>
