<section class="nosotros" id="quienes-somos">
    <div class="container">
      <span class="texto-nosotros" data-aos="zoom-in" data-aos-duration="800">
        <h2>¿QUIÉNES SOMOS?</h2>
        <hr>
        <p>Somos una agencia de marketing digital y generación de contenidos. Nuestro equipo está conformado por profesionales en diseño, web, community management y producciones fotográficas.</p>
      </span>
    </div>
    <div class="mision">
      <article data-aos="zoom-in-right" data-aos-duration="800">
        <span>
          <h3>MISIÓN</h3>
          <hr>
          <p>Nuestra misión es potenciar a nuestros clientes.<br> Buscamos realizar un trabajo integral para abordar en el ámbito digital el proyecto y lograr cada mes los mejores resultados</p>
        </span>
      </article>
      <aside></aside>
    </div>
    <div class="vision">
      <aside></aside>
      <article data-aos="zoom-in-left" data-aos-duration="800">
        <span>
          <h3>VISIÓN</h3>
          <hr>
          <p>Nuestra misión para el 2025 es ampliar nuestra cartera de servicios para poder complementar más a nuestros clientes y que estos puedan contar con nosotros como un área de su empresa. </p>
        </span>
      </article>
    </div>
  </section>
