body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 4.3px;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h4 {
    color: #393939;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 3px;
    text-transform: uppercase;
}

hr {
    width: 64px;
    height: 3px;
    background-color: $secundary-color;
    display: inline-block;
    margin: 45px 0;
}
p {
    line-height: 27px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        }
}
