/*Titulo main*/

.mobile-view, .tablet-view {
    display: none;
}

.centrado {
    text-align: center;
    padding-top: 80px;
}

/*Main*/
main {
    position: relative;
    padding-top: 196px;
    background: url(../../../assets/images/main-fondo.jpg) no-repeat fixed;
    background-size: 100% 100%;

    article {
        position: relative;
        z-index: 6;
        color: #fff;
    }

    p {
        margin-bottom: 40px;
        max-width: 570px;
        }
}
main > img {
width: 100%;
position: absolute;
bottom: -8px;
left: 0;
z-index: 5;
}
/*Fin Main*/