<main id="home">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1>POTENCIAMOS TU MARCA</h1>
                    <hr>
                    <p>Somos una agencia de marketing digital y generación de contenidos. Nuestro equipo está conformado por profesionales en diseño, web, community management y producciones fotográficas.</p>
                    <a href="#quienes-somos" class="btn-primario desktop-view">VER MÁS</a>
                </div>
                <div class="col-12 col-lg-5 celular">
                    <img class="desktop-view" src="../../../assets/images/celular.png" alt="celular publicitario">
                    <img class="mobile-view" src="../../../assets/images/celular-mobile.png" alt="celular publicitario">
                </div>
            </div>
        </div>
    </article>
    <img src="../../../assets/images/main-borde.png" alt="borde main">
</main>
